<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vk.chat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application>
        <activity
            android:name=".VK_ChatActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".LoginActivity"/>
        <activity android:name=".SignupActivity"></activity>
        <activity android:name=".ContactsActivity"></activity>
        <activity android:name=".ConversationsActivity"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".FriendsActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity android:name=".OnlineFriendsActivity"></activity>
        <activity android:name=".HandsetContactsActivity"></activity>
        <activity android:name=".DialogActivity"></activity>
    </application>

</manifest>